.a{
    margin-top :20px;
    margin-left: 500px;
}
.b{
    
    margin-left: 20px;
}
.c{
    margin-top : 20px;
    margin-left : 600px;
    border : 2px solid black;
    box-shadow: 10px black;    
}